.listItem {
  border: 1px solid #000;
  width: 600px;
  background-color: rgb(238, 238, 238);
  margin: 3px;
  border-radius: 15px;
  display: flex;
  margin: 1rem;
}
h4 {
  font-size: 18px;
}
.button-ver {
  align-self: center;
}
.listItem > img {
  width: 200px;
  padding: 1rem;
}
.score {
  display: flex;
}
