.footer-container {
  background-color: #27272d;
  color: white;
  margin-top: 5rem;
}
.footer-main {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
.copyright {
  border-top: 0.7px solid;
  border-color: red;
  text-align: center;
  padding: 15px;
}
svg {
  text-align: center;
  margin-inline: 10px;
}
