.banner-home {
  background-image: url(../images/banner-home.jpeg);
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  /* margin-top: 150px; */
}
h2 {
  font-size: 30px;
}
h3 {
  position: absolute;
  color: red;
  top: 50%;
  left: 50%;
    
}
.searchbar-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}
main {
  margin-top: 5rem;
  margin-inline: 12rem;
}
.inspiration {
  display: flex;
}
.inspiration>div>a>img {
  width: 400px;
  height: 500px;
  margin: 10px;
  border-radius: 15px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.inspiration>div>div>a>img {
  width: 400px;
  height: 245px;
  border-radius: 15px;
}