.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-container{
    background-color: rgb(238, 238, 238);
    margin: 1rem;
    padding: 1rem;
    max-width: 800px;
    border-radius: 15px;
}
.business-name {
    color: black;
    font-size: 40px;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-container>p {
    margin-left: 20px;
}